<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Kuro\Java\trabalho3\out\artifacts\trabalho3_jar\trabalho3.jar</jar>
  <outfile>C:\Users\Kuro\Java\trabalho3\src\main\java\org\example\cadastro_de_produtos.exe</outfile>
  <errTitle/>
  <cmdLine/>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl/>
  <supportUrl/>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest/>
  <icon/>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>21</minVersion>
    <maxVersion/>
  </jre>
</launch4jConfig>